.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: 'Poppins','Raleway', 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #121e39;
  max-width: 100%;
  font-size: 24px;
  color:hsl(0, 0%, 100%);
}

header {
  padding: 20px 0;
  color: #fff;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand-title {
  margin: 0;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.nav-links p {
  margin: 0;
  cursor: pointer;
}

.main-content {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; 
  min-height: 100vh;
}

/* .about-me {
  display: flex;
  align-items: center;
} */

.about-me .col-md-6:last-child {
  display: flex;
  justify-content: flex-end;
}

.profile-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 25% 10%;
}

.footer {
  text-align: center;
  color: #fff;
  padding: 20px 0;
}

#software-developer {
  color: #d02c91;
}

.section-title {
  margin-bottom: 20px;
  color: #e2278a;
}