body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #f4f4f4;
}

header {
  padding: 20px 0;
  background-color: #333a41;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.main-content {
  margin-top: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; 
  min-height: 100vh;
}

.footer {
  background-color: #333a41;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
